main > p, main > ul, 
main > ol 
{ 
    margin-bottom: 2ch;
}

main > ol 
{
    margin-left: 4ch;
}

main > ul
{
    margin-left: 2ch;
}

ol 
{
    counter-reset: list;
    position: relative;
}
ol > li {
    list-style: none;
}
ol > li:before {
    content: "("counter(list) ") ";
    counter-increment: list;
    position:absolute;
    left: -4ch;
}

a {
    text-decoration: underline;
    color: var(--link-color);
}

hr {
    margin-bottom: 1ch;
}

blockquote {
  background: #f9f9f9;
  margin: 0.5em 0;
  padding: 0.5em 10px;
  font-style: italic;
}

blockquote p {
  display: inline;
}
